main.c
reg/tmp.*
reg/temp.*
reg/TSFibo.rand-*
reg/TSPairHeap.rand-*
reg/TSCD.geom.*
bench-out/*
*.o
.objs/*.o
test
test-pddl
bench
bench.s
bench2
bench-heap*
!bench-heap*.c
test-rand-mt
test-nn
test-surf-match
test-cd-spheres
test-cd-trimesh
test-cd-ode
test-cd-ode.meas
test-strips
tmp.hdf5.h5
bench-ehc
bench-lazy
search
search-ma
optimal-cost
msg-schema-gen
msg-schema-load
